.table-container {
  text-align: center;
  margin-bottom: 50px;
  margin-top: 20px;
}
.styled-table {
  border-collapse: collapse;
  width: 50%;
  margin: 0 auto;
}
.styled-table,
.styled-table th,
.styled-table td {
  border: 1px solid black;
  text-align: center;
}
.styled-table th,
.styled-table td {
  padding: 10px;
}
#boldtext{
    font-weight: bold;
}